.mapFilterWrapper {
    width: calc(100% - 100px);
    height: 200px;
    margin: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    position: relative;
}


.btnWrapper {
    position: absolute;
    right: 50px;
    bottom: 30px;
}