.itemPopupWrapper {
  background-color: #fff;
  padding: 20px;
  width: 300px;
}

.itemImage {
  text-align: center;
  border: 1px solid #929292;
  border-radius: 8px;
  margin: 10px 0;

  img {
    width: calc(100% - 20px);
    aspect-ratio: 4/3;
  }
}